.Timer {
    color: #55DDE0;
    background-color:#ED474A;
    border:8px solid #2B9EB3;    
    height:250px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:250px;
    margin: 0 auto;
    font-size: 35px;
}

.Timer h3,p{
    text-align: center;
vertical-align: middle;
line-height: 50px;  
}