.Break{
    width: 50%;
    display: inline-block;
}


.Break h3{
    position: relative;
}
.Break p{
    position: relative;
    bottom: 45px;
    font-size: 30px;
    padding: 10px;
    display: inline-block;
}